<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="yuvaparivartan.app.yuvaparivartanandroid" >



    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />


    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />


    <!-- For android.media.audiofx.Visualizer -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <!-- We will request access to the camera, saying we require a camera
     of some sort but not one with autofocus capability. -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" />



    <application
        android:allowBackup="true"
        android:icon="@drawable/yuvalogo"
        android:label="@string/app_name"
        android:name="yuvaparivartan.app.yuvaparivartanandroid.app.AppController"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".Login"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".HomePageActivity" android:screenOrientation="portrait"></activity>

        <activity android:name=".AllactivitiesPageActivity" android:screenOrientation="portrait"></activity>

        <activity android:name=".RemittanceFeesDeposited" android:screenOrientation="portrait"></activity>
        <activity android:name=".MeetKeyPerson" android:screenOrientation="portrait"></activity>
        <activity android:name=".CommunityMeeting" android:screenOrientation="portrait"></activity>
        <activity android:name=".DoorToDoorMeeting" android:screenOrientation="portrait"></activity>

        <activity android:name=".VillageNetworkingActivity" android:screenOrientation="portrait"></activity>

        <activity android:name=".AddCampLeader" android:screenOrientation="portrait"></activity>

        <activity android:name=".Mobilization_Community_meetings" android:screenOrientation="portrait"></activity>

        <activity android:name=".Mobilization_DoortoDoor_Meeting" android:screenOrientation="portrait"></activity>

        <activity android:name=".Mobilization_Enriques_Generated" android:screenOrientation="portrait"></activity>

        <activity android:name=".InfrastructureforCamp" android:screenOrientation="portrait"></activity>

        <activity android:name=".CampDetails" android:screenOrientation="portrait"></activity>

        <activity android:name=".CampFacilitator" android:screenOrientation="portrait"></activity>
        <activity android:name=".CampFacilitatorM" android:screenOrientation="portrait"></activity>
        <activity android:name=".ArrangeInfrastructureForCamp" android:screenOrientation="portrait"></activity>


        <activity android:name=".Camp_Leader_Appointed" android:screenOrientation="portrait"></activity>

        <activity android:name=".CampDetailsFormFilled" android:screenOrientation="portrait"></activity>
        <activity android:name=".CampDetailsFeesCollected" android:screenOrientation="portrait"></activity>
        <activity android:name=".DocsCertiSent" android:screenOrientation="portrait"></activity>
        <activity android:name=".DocsVoucherSubmitted" android:screenOrientation="portrait"></activity>
        <activity android:name=".CampVisitFeesCollected" android:screenOrientation="portrait"></activity>

        <activity android:name=".RemmitanceFeesCollected"></activity>
        <activity android:name=".RemmitanceFeesDeposited" android:screenOrientation="portrait"></activity>
        <activity android:name=".DatePickerM" android:screenOrientation="portrait"></activity>
        <activity android:name=".AddCampFacilitator" android:screenOrientation="portrait"></activity>
        <activity android:name=".TakeOrPickImage" android:screenOrientation="portrait"></activity>
        <activity android:name=".CreateAgenda" android:screenOrientation="portrait"></activity>





    </application>

</manifest>
